h1 {
    font-weight: lighter;
}

h2 {
    font-weight: lighter;
}

h3 {
    font-weight: lighter;
}

#content {
	max-width: 1000px;
    margin: auto;
	font-family: sans-serif;
	font-weight: lighter;
	color: black;
}

#personal {
    float: left;
    margin: 20px;
    text-align: center;
}

#my_text {
    max-width: 550px;
    float: left;
    margin: 20px;
    line-height: 1.6;
    font-size: 17px;
}
