h1 {
    font-weight: lighter;
}

h2 {
    font-weight: lighter;
}

h3 {
    font-weight: lighter;
}

#content {
	max-width: 1000px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
	font-family: sans-serif;
	font-weight: lighter;
	color: black;
}

#personal {
    max-width: 350px;
    margin: 24px;
    text-align: center;
}

#my_text {
    max-width: 550px;
    margin: 24px;
    line-height: 1.6;
    font-size: 17px;
}

#publications {
    width: 100%;
}

#service {
    width: 100%;
}
